<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TasksAssembly" value="C:\Code\BlockingTaskQueue\TasksImplementation\bin\Debug\TasksImplementation.dll"/>
    <!-- key defines the description of the task. value is constructed as TASK_CLASS_NAME,RESULT_CLASS_NAME,EVENTARGS_CLASS_NAME,NUM_OPERANDS,REQUIRES_INPUT_BOOLEAN -->
		<add key="Add Numbers" value="TasksImplementation.AddIntegers,BlockingTaskQueue.AddIntegersResult,BlockingTaskQueue.AddIntegersEventArgs,2,false"/>
		<add key="Concatenate Strings" value="TasksImplementation.ConcatenateStrings,BlockingTaskQueue.ConcatenateStringsResult,BlockingTaskQueue.ConcatenateStringsEventArgs,2,false"/>
		<add key="Is Palindrome" value="TasksImplementation.PalindromChecker,BlockingTaskQueue.PalindromCheckerResult,BlockingTaskQueue.PalindromCheckerEventArgs,1,true"/>
	</appSettings>
</configuration>