<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="TasksAssembly" value="C:\Users\qauser\Documents\Visual Studio 2010\Projects\BlockingTaskQueue\TasksImplementation\obj\Debug\TasksImplementation.dll"/>
		<add key="Add Numbers" value="AddIntegers"/>
		<add key="Concatenate Strings" value="ConcatenateStrings"/>
		<add key="Is Palindrome" value="PalindromeChecker"/>
	</appSettings>
</configuration>